*{
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
}

.title {
    color: black;
    font-size: larger;
}

.work {
    margin-top: 3vh;
    display:flex;
    flex-direction: row;

}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    color: white;
    background-color: rgb(33, 33, 230);

}

.info > img {
    width: 40%;
}




